<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260933312498-4uqdhb4ghehu24i90bkp3eu595b13col.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260933312498-4uqdhb4ghehu24i90bkp3eu595b13col</string>
	<key>API_KEY</key>
	<string>AIzaSyBBp2BmQSW6x9LKlUc_liQyNR95AA4oQIg</string>
	<key>GCM_SENDER_ID</key>
	<string>260933312498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trekhlebov.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-13-fca25</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-13-fca25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260933312498:ios:9baab26e6de539154e556b</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-ios-13-fca25.firebaseio.com</string>
</dict>
</plist>